.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #804000;
  font-weight: bolder;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
  z-index: 10;
}

.navbar.sticky {
  background-color: #e2d3c0;  
}

.logo {
  margin-top: 0.5%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logoImage {
  width: 25%;
  height: 25%;
  object-fit: contain;
}

.logoText {
  font-size: 20px;
  font-weight: bolder;
  color: #804000;
  white-space: nowrap;
  font-weight: bolder;
}

.navLinks {
  margin-top: 0.5%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 5%;
  font-weight: bolder;
}

.link {
  text-decoration: none;
  color: #804000;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease-in-out;
  font-weight: bolder;
}

.link:hover {
  color: rgb(0, 0, 0);
}

.link:active,
.link:focus {
  color: rgb(0, 0, 0);
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #804000;
  margin-right: 10%;
  filter:brightness(1.7);
  font-weight: bolder;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: fit-content;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: #e2d3c0;
}

.mobileLink {
  text-decoration: none;
  color: #804000;
  font-size: 20px;
  padding: 15px;
  border-bottom: 1px solid #804000;
  background-color: #e2d3c0;
  font-weight: bolder;
}

.mobileLink:hover {
  color: rgb(0, 0, 0);
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #804000;
  font-weight: bolder;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .navbar {
    background-color: #e2d3c0;
    color : #804000;
    font-weight: bolder;
  }

  .hamburger {
    display: block;
    margin-right: 10%;
  }

  .logo {
    width: auto;
  }

  .logoImage {
    width: 20%;
    height: 20%;
  }

  .logoText {
    font-size: 18px;
  }
}
