html {
  font-family: 'Brown Sugar', cursive, sans-serif;
}

body {
  font-family: 'Brown Sugar', cursive, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


